.App > div {
  margin: 10px 0;
}

.App label {
  display: inline-block;
  width: 80px;
  position: relative;
  text-align: right;
  margin: 0 10px 0 0;
}

.App label::after {
  content: ":";
  position: absolute;
}

.App .mouseover-div {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 100px;
  background: #f00;
}
