.form-demo label {
	position: relative;
	display: inline-block;
	width: 80px;
}

.form-demo label::after {
	content: ':';
	position: absolute;
}

.form-demo .zh label {
	margin: 0 10px 0 0;
	text-align-last: justify;
}

.form-demo .en label {
	margin: 0 10px 0 0;
	text-align: right;
}

.form-demo label + input {
	width: 235px;
	padding: 0;
	padding-inline-start: 1px;
}

.antdForm {
	display: flex;
	justify-content: center;
	padding: 20px 0 0;
	border: 1px solid orange;
}

.spaceWraper {
	width: 100%;
}

.editIcon {
	display: none;
}

.spaceWraper:hover .editIcon {
	display: inline-block;
}

.nestedForm {
	width: 50%;
	margin: 0 auto;
}
