.overflow {
  width: 40%;
  height: 100px;
  margin: auto;
  border: 1px solid #f00;
}

.overflow-container {
  position: relative;
  width: 100%;
  margin: auto;
  border: 1px solid #00f;
}

.overflow-container .hidden-text {
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  visibility: hidden;
}

.overflow-container .show-tips-text {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overflow-container .hide-tips-text {
  white-space: nowrap;
  color: #f00;
}
